/*
    Trattoria Treno - best-sellers.css
    Propósito: estilos puntuales para la página de Best Sellers (cabecera y adaptaciones de tabla).
*/

.headerBestSellers{
    background-color: #d3870b;
    border-radius: 25px;
    margin-bottom: 15px;
    color: white;
    padding: 20px;
    text-align: center;
}

.table-wrapper{
    overflow-x: auto;
}