/* Estilo general de la tabla */

:root{
    --color-encabezados: rgb(172, 166, 166);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
thead {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

thead th {
    padding: 12px 15px;
}

/* Filas */
tbody tr {
    border-bottom: 1px solid #ddd;
}

/* Filas pares */
tbody tr:nth-child(even) {
    background-color: #F56A4E;
}

tbody td {
    padding: 12px 15px;
}


/*nav*/
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    gap: 20px;
    background-color: #F56A4E;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

nav ul li a:hover{
    background-color: #a5422e;
}

#precio {
    margin-top: 15px;
    font-weight: normal;
    color: #29b846;
}

#titc {
    text-align: center;
    color: var(--color-encabezados);
}

