/*
    Trattoria Treno - tablas.css
    Propósito: estilos para formularios y tablas usados en distintas páginas (alineamiento, botones y inputs).
    Contenido:
    - Estilos base para `form`, `label`, `input`, `table`, `thead` y `tbody`.
    - Usar este archivo para estilos reutilizables de tablas y formularios.
*/

form {
        width: 320px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        text-align: center;
        margin: 40px auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #d05d5d;
    background-color: #fff;
}

input[type="submit"] {
    padding: 10px;
    width: 100%;
    background-color: #cf6c6c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #cf6c6c;
}



table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
thead {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

thead th {
    padding: 12px 15px;
}

/* Filas */
tbody tr {
    border-bottom: 1px solid #ddd;
}

/* Filas pares */
tbody tr:nth-child(even) {
    background-color: #F56A4E;
}

tbody td {
    padding: 12px 15px;
}